# `DSML_WS_05` - Feature Engineering

Please work on the following tasks **before** the fifth workshop session.

*Note*: Because of the double workshop, there is only one task to prepare for this workshop.

## 1. Getting started with feature engineering

This week, we will look at what features we can derive from the data we have available. We will use a large carsharing dataset during the workshop.

Among other things, we will work with temporal data. This means that our dataframe contains information like "2017-11-01 00:10:01". Brainstorm features that you could extract from this piece of information and collect them in the list below.

Feature list:
- date
- duration
- months
- weekday
- Start point
- End point

Let's create a dataframe containing hypothetical date values. Execute the following cell.

In [1]:
import pandas as pd

test_data = pd.DataFrame({"timestamp": ["2024-05-01", "2024-05-02", "2024-05-03", "2024-05-04", "2024-05-05", "2024-05-06", "2024-05-07"]})

test_data

    timestamp
0  2024-05-01
1  2024-05-02
2  2024-05-03
3  2024-05-04
4  2024-05-05
5  2024-05-06
6  2024-05-07

Manually look up the day of the week (Monday, Tuesday, Wednesday,...) for the given dates and add them in a second column called "weekday_manually".

In [6]:
# your code here
test_data["weekday_manually"] = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
test_data

    timestamp weekday_manually weekday_automatic
0  2024-05-01           Monday         Wednesday
1  2024-05-02          Tuesday          Thursday
2  2024-05-03        Wednesday            Friday
3  2024-05-04         Thursday          Saturday
4  2024-05-05           Friday            Sunday
5  2024-05-06         Saturday            Monday
6  2024-05-07           Sunday           Tuesday

This is, of course, not feasible for large datasets. Luckily, Pandas has extensive built-in functionalities to deal with datetime data. Use `pd.to_datetime(test_data["timestamp"], format="%Y-%m-%d")` to transform the timestamp column into datetime format. Check the data type of timestamp using the .info() method.

In [13]:
# your code here
test_data["weekday_automatic"] = pd.to_datetime(test_data["timestamp"], format="%Y-%m-%d").dt.day_name()
test_data

    timestamp weekday_manually weekday_automatic
0  2024-05-01           Monday         Wednesday
1  2024-05-02          Tuesday          Thursday
2  2024-05-03        Wednesday            Friday
3  2024-05-04         Thursday          Saturday
4  2024-05-05           Friday            Sunday
5  2024-05-06         Saturday            Monday
6  2024-05-07           Sunday           Tuesday

Finally, let's again retrieve the name of the weekday, but this time Python should do the work for us. Simply use the `.dt.day_name()` method on the timestamp feature and save the result to a new column called "weekday_pandas".